.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light {
  margin-top: 30px;
  background-color: black;
  border-radius: 10px;
}

.light__head {
  position: relative;
  width: 150px;
  height: 300px;
  border-radius: 10px;
}

.light-end {
  background-color: black;
  height: 700px;
  width: 40px;
  margin: 0 auto;
  border-radius: 10px;
}

.light__red {
  position: absolute;
  background-color: red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 15px;
  left: 30px;
  display: none;
}

.light__yellow {
  position: absolute;
  background-color: yellow;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 105px;
  left: 30px;
  display: none;
}

.light__green {
  position: absolute;
  background-color: green;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 195px;
  left: 30px;
  display: none;
}

.btn__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn1 {
  font-family: sans-serif;
  background-color: red;
  border: unset;
  border-radius: 6px;
  color: #ffffff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn2 {
  font-family: sans-serif;
  background-color: yellow;
  border: unset;
  border-radius: 6px;
  color: black;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.btn3 {
  font-family: sans-serif;
  background-color: green;
  border: unset;
  border-radius: 6px;
  color: white;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.btn4 {
  font-family: sans-serif;
  background-color: grey;
  border: unset;
  border-radius: 6px;
  color: white;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.lightred {
  display: flex;
}

.lightyellow {
  display: flex;
}

.lightgreen {
  display: flex;
}
